aimms_model/energy_hub/electricity_demand.xlsx
aimms_model/energy_hub/heating_demand.xlsx
aimms_model/energy_hub/input_data/solar_inputs.xlsx
aimms_model/energy_hub/solar_inputs.xlsx
aimms_model/energy_hub/results/Generic_energy_hub_experiment_without_sizing/results_conversion.xlsx
aimms_model/energy_hub/results/Generic_energy_hub_experiment_without_sizing/results_emissions.xlsx
aimms_model/energy_hub/results/Generic_energy_hub_experiment_without_sizing/results_storage.xlsx
aimms_model/energy_hub/results/Generic_energy_hub_experiment_with_sizing/results_costs.xlsx
aimms_model/energy_hub/results/Multi_hub_test_no_sizing/results_conversion.xlsx
aimms_model/energy_hub/results/Multi_hub_test_no_sizing/results_network.xlsx
aimms_model/energy_hub/results/Multi_hub_test_with_sizing/results_costs.xlsx
aimms_model/energy_hub/results/Multi_hub_test_with_sizing/results_emissions.xlsx
aimms_model/energy_hub/results/Multi_hub_test_with_sizing/results_storage.xlsx
aimms_model/energy_hub/results/Single_hub_test_no_sizing/results_demands.xlsx
aimms_model/energy_hub/results/Single_hub_test_with_sizing/results_conversion.xlsx
aimms_model/energy_hub/results/Single_hub_test_with_sizing/results_emissions.xlsx
analysis_scripts/test_data/.Rhistory
